*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Syne Tactile', cursive;
    background: #ffb347;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffcc33, #ffb347); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    
}
nav{
    flex: 1;
   text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right:20px ;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.container{
    max-width:1300px ;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
   height: 100vh;
}
.row{
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: space-around;
}
.col-2{
    flex-basis:50% ;
    min-width: 300px;
    
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0px 50px 50px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: black;
    color:white;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 40px;
    transition:background 2s ;
}
.btn :hover{
    background:palevioletred;
}
.header{
    background: #FFB75E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ED8F03, #FFB75E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ED8F03, #FFB75E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}  
.header-2{
    background: #f46b45;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}  
.categries{
    margin: 70px 0;
}
.col-3{
    flex-basis: 25%;
    min-width: 150px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 10px #1C1919;
    

}
.col-3 img{
    width: 100%;
}    
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.col-4{
   flex-basis: 32%;
   padding: 10px;
   min-width: 200px;
   margin-bottom: 50px;
}
    
.col-4 img{
    width: 100%;
}
footer{
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: white;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}